<div class="container-tabela">
  <h2>Mercado Hoje</h2>

  <table>
    <thead>
      <tr>
        <th>Moeda</th>
        <th>Preço (BRL)</th>
        <th>Variação 24h</th>
        <th>Valor de Mercado</th>
      </tr>
    </thead>
    <tbody>
      @for (moeda of moedas(); track moeda.id) {
        <tr>
          <td class="info-moeda">
            <img [src]="moeda.image" [alt]="moeda.name" width="30">
            <div>
              <span class="nome">{{ moeda.name }}</span>
              <span class="simbolo">{{ moeda.symbol | uppercase }}</span>
            </div>
          </td>

          <td>{{ moeda.current_price | currency:'BRL' }}</td>

          <td [class.positivo]="moeda.price_change_percentage_24h > 0"
              [class.negativo]="moeda.price_change_percentage_24h < 0">
            
            {{ moeda.price_change_percentage_24h | number:'1.2-2' }}%
          </td>

          <td>{{ moeda.market_cap | currency:'BRL':'symbol':'1.0-0' }}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="carregando">Carregando dados do mercado...</td>
        </tr>
      }
    </tbody>
  </table>
</div>