<div class="cartao-tabela">
  <div class="cabecalho-tabela">
    <h2>Principais Criptomoedas</h2>
    
    <div class="controles">
      <input 
        type="text" 
        placeholder="🔍 Buscar moeda..." 
        (input)="atualizarBusca($event)"
        class="input-busca"
      >
      
      <button (click)="atualizarAgora()" [disabled]="estaCarregando()" class="botao-atualizar">
        {{ estaCarregando() ? 'A atualizar...' : '🔄 Atualizar' }}
      </button>
    </div>
  </div>
  @if (mensagemErro()) {
    <div class="alerta-erro">
      ⚠️ {{ mensagemErro() }}
    </div>
  }
  <table [class.efeito-carregando]="estaCarregando()">
    <thead>
      <tr>
        <th>Moeda</th>
        <th>Preço Atual</th>
        <th>Variação (24h)</th>
        <th>Valor de Mercado</th>
      </tr>
    </thead>
    <tbody>
      @for (moeda of listaFiltrada(); track moeda.id) {
        <tr>
          <td class="coluna-nome">
            <img [src]="moeda.image" [alt]="moeda.name" width="24" height="24">
            <strong>{{ moeda.name }}</strong>
          </td>
          <td>{{ moeda.current_price | currency:'BRL' }}</td>
          <td [class.texto-verde]="moeda.price_change_percentage_24h > 0"
              [class.texto-vermelho]="moeda.price_change_percentage_24h < 0">
            {{ moeda.price_change_percentage_24h | number:'1.2-2' }}%
          </td>
          <td>{{ moeda.market_cap | currency:'BRL':'symbol':'1.0-0' }}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="sem-resultados">
            Nenhuma moeda encontrada para "{{ termoDeBusca() }}"
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="paginacao">
    <button 
      (click)="paginaAnterior()" 
      [disabled]="paginaAtual() === 1 || estaCarregando()"
      class="btn-pag">
      ⬅ Anterior
    </button>

    <span class="info-pagina">
      Página <strong>{{ paginaAtual() }}</strong>
    </span>

    <button 
      (click)="proximaPagina()" 
      [disabled]="estaCarregando()"
      class="btn-pag">
      Próxima ➡
    </button>
  </div>
</div>